<form action="/home/index_do">
<% array_address = []%>
<% @gyms.each do |g| %>
<% array_address << [g.location.latitude, g.location.longitude, g.name] %>
<% end %>
<div class="row">
  <div class="col-sm-6">
<h3>Nearby Locations</h3>
<ul>
<% for location in @locations.near(@local) %>
  <% unless location.gym.eql? nil%>
    <li>Name: &nbsp<%= link_to location.gym.name, controller: "gyms", action: "show", id: location.gym.id%>&nbsp Address: &nbsp<%= location.address %> (<%= location.distance.round(2) %> miles)</li>
  <% end %>
<% end %>
</ul>
</div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="search_address">Search Address</label>
        <div class="col-sm-8">
          <input id="txtautocomplete" value="<%=@local%>" class="form-control" name="form[search]" type="text">
        </div>
        <div class="col-sm-2">
          <input class="btn btn-primary" name="commit" value="Search" type="submit">
        </div>
      </div></br>
      <div align="right">
        <a href="javascript:GetLocation(<%=array_address%>);">View on the map</a>
      </div>
      <div id="maps" style=" height: 400px; width: 100%;">
      </div>

  </div>
</div>
</form>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&signedin=true&libraries=places&sensor=false&key=AIzaSyCxRjjdMVyTPuNxeNeDIWSKl7bjLCBfDHM"></script>
<script>

google.maps.event.addDomListener(window, 'load', intilize);
  function intilize() {
  var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));
  google.maps.event.addListener(autocomplete)
}

function GetLocation(locations) {
  var geocoder = new google.maps.Geocoder();
  var address = document.getElementById("txtautocomplete").value;
  geocoder.geocode({ 'address': address }, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var latitude = results[0].geometry.location.lat();
      var longitude = results[0].geometry.location.lng();
      var local = {lat: latitude, lng: longitude};
      var maps = new google.maps.Map(document.getElementById('maps'), {
        zoom: 14,
        center: local
      });
        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][0], locations[i][1]),
            map: maps
          });
        }
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(latitude, longitude),
          map: maps
        });
      } else {
        alert("Request failed.")
      }
  });
}

/*
function initMap() {
  var x = document.getElementById("demo");
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition);
          } else { 
  x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var latitude = position.coords.latitude
  var longitude = position.coords.longitude
  var local = {lat: latitude, lng: longitude};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: local
  });
  var marker = new google.maps.Marker({
    position: local,
    map: map
  });
}
*/
</script>
